form {
  width: 90%;
  margin-top: 1%;
  margin-bottom: 1%;
  padding: 1%;
}

.contact_field_content {
  display: block;
  width: 90%;
  margin-bottom: 2%;
  font-family: Ubuntu-L, Arial, Helvetica, sans-serif;
  color: var(--grey);
}