body {
    background-color: var(--light-yellow);
}

h1, h2 {
    color: var(--medium-grey);
}

.image_content{
    background-color: yellow;
    margin: 10px 0px 10px 10px;
    padding: 20px;
    width: 250px;
    height: auto;
    box-sizing:  border-box;
    border: solid 6px blue;

}